<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-81183833-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-81183833-2');
  </script>
  
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Crayon Pentix</title>
  <meta name="description" content="Pentix, a game of falling pentomino, is a block-drop game" />
  <link rel="icon" href="https://truemaxdh.github.io/icon.png" type="image/png">
  <link rel="stylesheet" href="https://truemaxdh.github.io/Style/skin.css">
 </head>
<body>
  <script>var cookieBread = ">Game>Crayon Pentix";</script>
  <script src="https://truemaxdh.github.io/Include/header.js"></script>

  {{content}}
	
  <iframe src="/game_pentix/www/" width="450" height="800"></iframe>

  </body>
</html>
